{% extends 'CuteFlowCoreBundle::layout.html.twig' %}

{% block title %}{{ parent() }} - {{ "dashboard.title.dashboard" | trans }}{% endblock %}

{% block body %}
<h2>{{ "dashboard.header.dashboard" | trans }}</h2>
{% endblock %}

{% block sidebarclass %}class="nosidebar"{% endblock %}
