{% extends 'CuteFlowCoreBundle::layout.html.twig' %}

{% block title %}{{ parent() }} - {{ "reports.title.reports" | trans }}{% endblock %}

{% block body %}
<h2>{{ "reports.header.reports" | trans }}</h2>
{% endblock %}

{% block sidebarclass %}class="nosidebar"{% endblock %}
