{% extends 'CuteFlowCoreBundle::admin.html.twig' %}
{% block title %}{{ parent() }} - {% trans %}Settings{% endtrans %}{% endblock %}

{% block body %}
<h2>{% trans %}Settings{% endtrans %}</h2>

<!-- Tab-Navigation -->
<div class="tabs">
    <ul>
        <li><a href="#" id="tab-general" {% if formType=='general' %}class="selected"{% endif %} onclick="showTab('general'); this.blur(); return false;">{% trans %}General{% endtrans %}</a></li>
        <li><a href="#" id="tab-email" {% if formType=='email' %}class="selected"{% endif %} onclick="showTab('email'); this.blur(); return false;">{% trans %}E-Mail{% endtrans %}</a></li>
        <li><a href="#" id="tab-workflow" {% if formType=='workflow' %}class="selected"{% endif %} onclick="showTab('workflow'); this.blur(); return false;">{% trans %}Workflow{% endtrans %}</a></li>
    </ul>
</div>

{% if saveSuccess is defined and saveSuccess==true %}
    <div class="flash notice">
        {% trans %}Settings successfully saved{% endtrans %}
    </div>
    <br/>
{% endif %}
{% if form is defined and form_errors(form) %}
    <div class="flash error">
        {{ form_errors(form) }}
    </div>
    <br/>
{% endif %}

{% include 'CuteFlowCoreBundle:Admin:generalTab.html.twig' %}
{% include 'CuteFlowCoreBundle:Admin:emailTab.html.twig' %}
{% include 'CuteFlowCoreBundle:Admin:workflowTab.html.twig' %}

{% endblock %}

{% block sidebarclass %}class="nosidebar"{% endblock %}
