<div id="tab-content-workflow" class="tab-content" {% if formType!='workflow' %}style="display: none;"{% endif %}>
    <form method="post" action="{{ path('cuteflow_admin_settings_save', {'formType': 'workflow'}) }}">
        <div class="box tabular settings">
            {{ "admin.title.workflow" | trans }}
        </div>

        <input type="submit" value="{{ "admin.button.save" | trans }}" name="commit"/>
    </form>
</div>
