<div id="tab-content-workflow" class="tab-content" style="display: none;">
    <form method="post" action="">
        <div class="box tabular settings">
            Workflow
        </div>

        <input type="submit" value="{% trans %}Save{% endtrans %}" name="commit"/>
    </form>
</div>